<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="WutNuContext" connectionString="metadata=res://*/WutNuEntities.csdl|res://*/WutNuEntities.ssdl|res://*/WutNuEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\brhacker\OneDrive\Dev\Wutnu3\Wutnu3\Wutnu3\App_Data\aspnet-wutnu-2.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--add name="WutNuContext" connectionString="metadata=res://*/WutNuEntities.csdl|res://*/WutNuEntities.ssdl|res://*/WutNuEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql01;initial catalog=wutnu3;user id=user_wut;password=password1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>