<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="DomainName" value="localhost:44316" />
  <add key="RedisConnection" value="wut.redis.cache.windows.net:6380,password=6T0E+w1ZrZ812o5WXoNNYlLvz9gj6oPEm99QWBQV7+0=,ssl=True,abortConnect=False" />
  <add key="RedisUrlDBNum" value="0" />
  <add key="RedisUserDBNum" value="1" />
  <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=wutstorage;AccountKey=RqusVrgBnkmvR1L+s79ZYJoC9w/Y46xkVqBm4mz9ewVvuGCEtjpDZXqVEFDVmPp8WcRNoWMZ+k+Uzd4E3vuYVQ=="/>
  <!--add key="StorageConnectionString" value="UseDevelopmentStorage=true;"/-->
  
  <add key="GraphKey" value="R4a5pl/rlu+W2MKGvTPZhUuKbODXNgXG1qJQ3yT7V8g=" />
  <add key="ActivateWebApiTracing" value="false" />
  <add key="ida:AadInstance" value="https://login.microsoftonline.com/{0}" />
  <add key="ida:RedirectUri" value="https://localhost:44316" />
  <add key="ida:TenantB2B" value="hackerdemo.com" />
  <add key="ida:ClientIdB2B" value="8f9ee213-cec8-4cf6-a213-e09c8f49edcc" />
  <add key="ida:TenantB2C" value="blhb2c.onmicrosoft.com" />
  <add key="ida:ClientIdB2C" value="2a8ff556-1758-4b89-a0ea-1e1ae57bcd1a" />
  <add key="ida:SignUpPolicyId" value="B2C_1_DefaultSignup" />
  <add key="ida:SignInPolicyId" value="B2C_1_DefaultSignin" />
  <add key="ida:UserProfilePolicyId" value="B2C_1_DefaultProfileEditPolicy" />

  <add key="ConfigStorageCors" value="true"/>
  <!--Dev,Int,QA,UAT,Prod-->
  <add key="Environment" value="Dev"/>
  <add key="LocalReports" value="true"/>
  <add key="EnableDashboardLogging" value="true"/>
</appSettings>
