<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DomainName" value="localhost:44316" />
    <!--add key="RedisConnection" value="[add_redis_account].redis.cache.windows.net:6379,abortConnect=false,ssl=false,password=[add_redis_key]" /-->
    <add key="RedisConnection" value="" />
    <add key="RedisUrlDBNum" value="0" />
    <add key="RedisUserDBNum" value="1" />
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true;"/>

    <add key="ActivateWebApiTracing" value="false" />
    <add key="ida:AadInstanceMulti" value="https://login.microsoftonline.com/common" />
    <add key="ida:AadInstanceB2B" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:AadInstanceB2C" value="https://login.microsoftonline.com/{0}/v2.0/.well-known/openid-configuration?p={1}" />
    <add key="ida:RedirectUri" value="https://localhost:44316" />

    <add key="B2BGraphKey" value="[add_graph_key_B2B]" />
    <add key="B2CGraphKey" value="[add_graph_key_B2C]" />
    <add key="ida:TenantB2B" value="[add_AAD_B2B_tenant_domain]" />
    <add key="ida:ClientIdB2B" value="[add_B2B_app_id]" />
    <add key="ida:TenantB2C" value="[add_B2C_tenant_domain]" />
    <add key="ida:ClientIdB2C" value="[add_B2C_app_id" />

    <add key="ida:SignUpPolicyId" value="B2C_1_DefaultSignup" />
    <add key="ida:ResetPolicyId" value="B2C_1_DefaultReset" />
    <add key="ida:SUSIPolicyId" value="B2C_1_SignInSignUpPolicy" />
    <add key="ida:SignInPolicyId" value="B2C_1_DefaultSignin" />
    <add key="ida:UserProfilePolicyId" value="B2C_1_DefaultProfileEditPolicy" />

    <add key="ConfigStorageCors" value="true"/>
    <!--Dev,Int,QA,UAT,Prod-->
    <add key="Environment" value="Dev"/>
    <add key="LocalReports" value="true"/>
    <add key="EnableDashboardLogging" value="true"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <conditions>
            <add xdt:Locator="Match(input)" xdt:Transform="Remove" input="{localhost}" pattern="on" ignoreCase="true"/>
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
