<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wutnuweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wutnuweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WutnuWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$WutnuWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="WutNuContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:wutdb.database.windows.net,1433;Initial Catalog=wutdb;User ID=wut_app@wutdb;Password=Fefileajfevnm4738ERR21;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:wutdb.database.windows.net,1433;Database=wutdb;User ID=wut_app@wutdb;Password=Fefileajfevnm4738ERR21;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Wutnu.Data.WutNuContext, Wutnu.Data" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WutNuContext-Web.config Connection String">
      <ParameterValue>Server=tcp:wutdb.database.windows.net,1433;Database=wutdb;User ID=wut_app@wutdb;Password=Fefileajfevnm4738ERR21;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>