@using System.Data
@using System.Data.SqlClient

@inherits LNEC_Admin.Views.Reports.Index

@functions {
    protected void ProcessRequest()
    {
        Hcon = HttpContext.Current;
        var req = Hcon.Request;
        ReportPath = Hcon.Server.MapPath("Accounting.rdlc");

        var parms = new Dictionary<string, string>
            {
                {"DateFrom", req.QueryString["df"]}, 
                {"DateTo", req.QueryString["dt"]}, 
                {"ProfileType", req.QueryString["pt"]}, 
                {"RecipientCompany", req.QueryString["rc"]}, 
                {"RequestorName", req.QueryString["rn"]}
            };
        
        ReportType = req.QueryString["rt"];

        FileName = "SponsorshipAccounting" + GetReportExtension();
        
        WriteOut(GetReport(
            "Sponsorship",
            GetAccountingData(parms),
            parms
            ));
    }
    
    protected SqlDataReader GetAccountingData(Dictionary<string, string> parms)
    {
        string sConnectionString = System.Configuration.ConfigurationManager.ConnectionStrings["LNECEntities"].ToString();
        var conn = new SqlConnection(sConnectionString);
        conn.Open();
        var comm = new SqlCommand
            {
                Connection = conn, CommandType = CommandType.StoredProcedure, CommandText = "usp_rpt_TicketRequests"
            };

        comm.Parameters.Add(new SqlParameter("DateFrom", parms["DateFrom"]));
        comm.Parameters.Add(new SqlParameter("DateTo", parms["DateTo"]));
        comm.Parameters.Add(new SqlParameter("ProfileType", parms["ProfileType"]));
        comm.Parameters.Add(new SqlParameter("RecipientCompany", parms["RecipientCompany"]));
        comm.Parameters.Add(new SqlParameter("RequestorName", parms["RequestorName"]));
        return comm.ExecuteReader();
    }
}

<h3><a href="#">Sponsor Accounting</a></h3>
<div id="divSponsorParms">
    <table width="100%" border="0" cellspacing="0" cellpadding="5" style="border:1px solid #909090">
    <tr>
        <td>Request Type</td>
        <td><select id="rptRequestType">
                <option value="Local">Local</option>
                <option value="National">National</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>From</td>
        <td><input type="text" id="rptDateFromFilter" size="16" /></td>
    </tr>
    <tr>
        <td>To</td>
        <td><input type="text" id="rptDateToFilter" size="16" /></td>
    </tr>
    <tr>
        <td>Filter by Company</td>
        <td><input type="text" size="16" id="rptSponsorCompanyList" /></td>
    </tr>
    <tr>
        <td>Requestor</td>
        <td><input type="text" id="rptRequestorFilter" size="16" /></td>
    </tr>
    <tr>
        <td>Report Type</td>
        <td><select id="rptSponsorReportType">
        <option value="PDF">PDF</option>
        <option value="Excel">Excel</option>
        </select></td>
    </tr>
    </table>
    <br />
    <button id="btnPrintSponsor">Download</button>
</div>
