body {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 380px;*/
}

#container { 
    width:600px; margin:0 auto;
}
#container div.panel.wut {
    padding:15px; background-color:#C6D4E1; border:solid 1px #44749D; text-align:center; margin-bottom:20px;
}
    #container div.panel.wut input {
        padding: 10px;
        font-size: 160%;
    }

div.modal-header {
    background-color:steelblue;
    color:white;
}
div.dialogData {
    border-bottom: 1px solid silver;
    padding-left:10px;
    font-weight:bold;
}
span.glyphicon {
    cursor:pointer;
}
.center {
    text-align:center;
}

div.tab-pane {
    margin-bottom:80px;
}
footer {
    bottom: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    color: #616161;
}

    footer div {
        text-align:center;
    }
    footer div p {
        margin: 20px 40px;
        display:inline-block;
    }

.bg-4 {
    background-color: #f2f2f2;
}
/*https://stackoverflow.com/questions/1638223/is-there-a-way-to-word-wrap-long-words-in-a-div*/
.wordwrap {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}
@media all and (max-width:768px) {
    footer {
        zoom: 80%;
    }

    div.jumbotron {
        height: 160px !important;
    }

        div.jumbotron img {
            zoom: 60%;
        }

        div.jumbotron h2 {
            font-size: .9em;
        }
}