
@{
    ViewBag.Title = "Sign In";
}

<h2>@ViewBag.Title</h2>

<div>

    <div class="loginbutton">
        Social or local access (using Azure Active Directory B2C)<br />
        <input type="button" style="margin:10px;width:150px" class="btn btn-primary" onclick="window.location.href='/Account/SignInB2C?redir=@ViewBag.Redir'" value="Sign In" />
    </div>

    <div class="loginbutton">
        If you want to access the portal via an Azure Active Directory account from your own tenant<br />
        <input type="button" style="margin:10px;width:250px" class="btn btn-primary" onclick="window.location.href='/Account/SignInWorkMulti?redir=@ViewBag.Redir'" value="Sign In with your Work Account" />
    </div>

    <div class="loginbutton">
        If you have been granted access to the application from the host tenant as a B2B guest<br />
        <input type="button" style="margin:10px;width:250px" class="btn btn-primary" onclick="window.location.href='/Account/SignInWorkGuest?redir=@ViewBag.Redir'" value="Sign In as a Work Guest" />
    </div>
</div>

@section styles
{
    <style type="text/css">
    div.loginbutton {
        margin-top:16px;
        text-align:center;
    }
    </style>    
}