@model Wutnu.Data.Models.UserPoco

@{
    ViewBag.Title = "User Profile";
}
<h2>User Profile</h2>

<div class="col-xs-2">
    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="active"><a href="#settings" aria-controls="settings" role="tab" data-toggle="pill">Settings</a></li>
        <li role="presentation"><a href="#claims" aria-controls="claims" role="tab" data-toggle="pill">Claims</a></li>
    </ul>
</div>
<div class="col-xs-10">
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="settings">
            @Html.Partial("_Settings", Model)
        </div>
        <div role="tabpanel" class="tab-pane" id="claims">
            @Html.Partial("_Claims")
        </div>
    </div>
</div>

