

<div class="panel panel-primary" style="margin-top:10px;position:relative;">
    <div class="panel-heading">My Assigned Users</div>
    <div class="panel-body" style="padding: 12px;">
        <div id="tablewrap">
            <table id="userlist" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Remove?</th>
                        <th>Assigned Email</th>
                        <th>Assigned Links</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


