@{
    ViewBag.Title = "Thank You";
    ViewBag.SiteName = "Thank You";
}

<h2>Thanks for the info!</h2>
<p>We've updated the knowledge base and are researching your issue.</p>
<p>
    <a href="/">Return home</a>
</p>

